body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: gray;
    font-family: Genos;
    font-size: 22px;
    color: white;
}
h1{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom:0;
}
h5 {
    margin: 0 0 150px 0;
    font-weight: 300;
}

@keyframes spin {
    0%{
     transform:  rotatreX(-30deg) rotateY(0deg);
    }
    100%{
     transform: rotateX(-30deg) rotateY(360deg);
    }
}

@keyframes movetop {
    0% {
     o-webkit-transform: trnaslateY(0px);
    }
    25%{
        o-webkit-transform: trnaslateY(-30px);
    }
    75%{
        o-webkit-transform:trnaslateY(30px);
    }
    100%{
        o-webkit-transform:trnaslateY(0px);
    }
}

@keyframes updown{
    0%{
        background-position: 100% 0%;
    }
    50%{
        background-position: 50% 15%;
    }
    100%{
        background-position: 100% 0;
    }
}

@keyframes light {
    0%{
        width: 200px;
        height: 200px;
    }
    25%{
        width: 300px;
        height: 200px;
    }
    75%{
        width: 300px;
        height: 300px;
    }
    100%{
        width: 200px;
        height: 200px;
    }
}
/* time to cube*/
.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style:preserve-3d;
    animation: spin 15s linear infinite;
}
.cube__box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d;
    animation: movetop 15s linear infinite;
}
.cube__box__wall{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: updown 15s ease infinite;
    background: linear-gradient(180deg, rgba(21,21,21,1) 10%,rgba(176,38,255,1) 50%);
    background-size: 400% 400%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

.cube__top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color:#151515;
    o-webkit-animation: movetop 15s linear infinite;
    transform: rotateX(90deg) translateZ(150px) skewX(0);

}
.cube::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color:#b026ff;
    transform: translateY(250px) rotateX(90deg);
    filter: blur(20px);
    box-shadow: 0 0 200px #b026ff;
    animation: light 15s ease infinite;
}